html,body{
	width: 100%;
	height: 100%;
}
html{
	overflow: hidden;
	position: relative;
}
body{
	overflow: scroll;
}
header{
	width:100%;
	height:0.91rem;
	background: #0078E6;
	position: absolute;
	top: 0rem;
	z-index: 999;
}
header img{
	width: 0.72rem;
	height: 0.7rem;
    margin-left: 2.72rem;
    margin-top: 0.15rem;
}
header span{
	font-size: 0.36rem;
	font-weight: bold;
	color: white;
	display: inline-block;
    transform: translate(0.1rem,-0.23rem);
}
.barner{
	width:100%; 
	height: 4.31rem;
    background: url('../img/banner_02.png') center center no-repeat;
    background-size: cover;
}

article{
	width: 100%;
	height: auto;
	box-sizing: border-box;
	border: 0.01rem solid #ADADAD;
	background: #F5F6FA;
	margin: 0rem auto;
}

.num1{
	width: 100%;
	height: 4.5rem;
	margin-top: 0.28rem;
}
.num1 ul{
	width: 100%;
	height: 1.55rem;
	display: flex;
	justify-content:space-around;
}
.num1 ul li{
	width: 1.55rem;
	height: 1.55rem;
	background: #FFFFFF;
	border-radius:0.25rem;
	position: relative;
}
.num1 ul li img{
	width: 1.06rem;
	height: 1.08rem;
	position: absolute;
	top:0rem;
	bottom:0rem;
	left:0rem;
	right:0rem;
	margin: auto;
}
.num1 ol{
	width: 100%;
	height: 0.7rem;
	display: flex;
	justify-content:space-around;
}
.num1 ol li{
	width: 1.55rem;
	height: 0.36rem;
	text-align: center;
	font-size:0.22rem;
	line-height: 0.46rem;
}

.num2{
	width: 100%;
	height: 0.64rem;
	background: #FFFFFF;
	border-bottom:0.01rem solid #E8E8E8;
	line-height: 0.64rem;
	text-align: center;
	font-size: 0.22rem;
	color: #1378BA;
}

.num3{
	width: 100%;
	height: 2.18rem;
	background: #FFFFFF;
	border-bottom:0.01rem solid #E8E8E8;
}
.num3 ul{
	width: 100%;
	height: 100%;
}
.num3 ul li{
	width: 50%;
	height: 100%;
	float: left;
    position: relative;
    box-sizing: border-box;
}
.num3 ul li:first-child{
	border-right:0.01rem solid #E8E8E8;
}
.num3 ul li span{
	font-size:0.22rem;
	position: absolute;
	top:0.38rem;
	left:0.17rem;
}
.num3 ul li i{
	font-style: normal;
	color: #A9A9A9;
	font-size:0.18rem;
	position: absolute;
	top:0.8rem;
	left:0.17rem;
}
.num3 ul li img{
    width: 1.44rem;
    height: 1.4rem;
	position: absolute;
	top:0.35rem;
	left:1.9rem;
}

.num4{
	width: 100%;
	height: 1.38rem;
	background: #FFFFFF;
	border-bottom:0.01rem solid #E8E8E8;
}
.num4 ul{
	width: 100%;
	height: 100%;
}
.num4 ul li{
	width: 33.333%;
	height: 100%;
	float: left;
    position: relative;
    box-sizing: border-box;
    border-right:0.01rem solid #E8E8E8;
}
.num4 ul li:last-child{
	border-right:0rem;
}
.num4 ul li span{
	font-size:0.22rem;
	position: absolute;
	top:0.38rem;
	left:1rem;
}
.num4 ul li i{
	font-style: normal;
	color: #A9A9A9;
	font-size:0.18rem;
	position: absolute;
	top:0.8rem;
	left:1rem;
}
.num4 ul li img{
    width: 0.66rem;
    height: 0.66rem;
	position: absolute;
	top:0.35rem;
	left:0.22rem;
}

footer{
	width: 100%;
	height: 0.8rem;
	background:#FFFFFF;
	margin-top: 0.2rem;
	margin-bottom: 0.4rem; 
	position: relative;
}
footer div{
	width: 33.333%;
	height: 100%;
	float: left;
	font-size: 0.22rem;
}
footer .center img{
    width: 100%;
    height: 100%;
}
footer .left img{
	width: 0.34rem;
	position: absolute;
	top:0.25rem;
	left:0.2rem;
}
footer .left span{
	position: absolute;
	top:0.25rem;
	left:0.65rem;
}
footer .right img{
	width: 0.36rem;
	position: absolute;
	top:0.25rem;
	right:1.2rem;
}
footer .right span{
	position: absolute;
	top:0.25rem;
	right:0.2rem;