html,body{
	width: 100%;
	height: 100%;
}
html{
	overflow: hidden;
	position: relative;
}
body{
	overflow: scroll;
}
header{
	width:100%;
	height:0.91rem;
	background: #0078E6;
	position: absolute;
	top: 0rem;
	z-index: 999;
}
header img{
	width: 0.72rem;
	height: 0.7rem;
    margin-left: 2.72rem;
    margin-top: 0.15rem;
}
header span{
	font-size: 0.36rem;
	font-weight: bold;
	color: white;
	display: inline-block;
    transform: translate(0.1rem,-0.23rem);
}
.barner{
	width:100%; 
	height: 4.31rem;
    background: url('../img/banner_02.png') center center no-repeat;
    background-size: cover;
}

article{
	width: 100%;
	height: auto;
	box-sizing: border-box;
	border: 0.01rem solid #ADADAD;
	background: #F5F6FA;
	margin: 0rem auto;
}

.num1{
	width: 7.02rem;
	height: 0.72rem;
	margin: 0rem auto;
	line-height: 0.72rem;
}
.num1 span{
	font-size: 0.22rem;
	color:#494747;
}
.num1 a{
	text-decoration: none;
	font-size: 0.3rem;
	color: #494747;
	margin:0.03rem;
}

.num2{
	width: 7.02rem;
	height: 0.8rem;
	background: #FFFFFF;
	margin:0rem auto;
	margin-bottom: 0.21rem;
	box-sizing: border-box;
    border: 0.02rem solid #01B5FF;
    border-radius: 0.1rem;
	position: relative;
	font-size: 0.24rem;
}
.num2 .left{
	width: 2.59rem;
	height: 100%;
	background: #01B5FF;
	border-radius:0.06rem;
	font-size: 0.26rem;
    line-height: 0.8rem;
    text-align: center;
    color: white;
}
.num2 .jiantou{
	width: 0rem;
	border-top:0.12rem solid #01B5FF;
	border-left:0.1rem solid rgba(0, 0, 0, 0);
	border-right:0.1rem solid transparent;
	position: absolute;
	top: 0.78rem;
	left:1.18rem;
}
.num2 span{
	font-size: 0.24rem;
	color: black;
	position: absolute;
	top: 0.25rem;
	left:2.72rem;
}
.num2 em{
	font-size: 0.24rem;
	color: black;
	font-style: normal;
	position: absolute;
	top: 0.25rem;
	left:5.25rem;
}

.num3{
	width: 7.02rem;
	height: 2.7rem;
	background: #FFFFFF;
	margin:0rem auto;
	margin-top: 0.1rem;
	position: relative;
	font-size: 0.24rem;
}
.num3 img{
	width:2.3rem;
	height: 2.3rem;
	border-radius: 0.08rem;
	position: absolute;
	top: 0.2rem;
	left: 0.2rem;
}
.num3 .right{
    width: 4.1rem;
    height: 2.3rem;
    position: absolute;
    top: 0.2rem;
    left: 2.75rem;
}
.num3 .right span{
	font-size: 0.24rem;
    position: absolute;
    top:0.18rem;
}
.num3 .right i{
	font-style: normal;
	color: #FF9300;
	font-size: 0.22rem;
	position: absolute;
	top: 0.2rem;
	left: 2.9rem;
}
.num3 .right em{
	font-size: 0.24rem;
	font-style: normal;
	color:#01B5FF;
	position: absolute;
	top: 0.64rem;
}
.num3 .right b{
	font-size: 0.24rem;
	font-weight: normal;
	color: #666666;
	position: absolute;
	top: 1.16rem;
}

.num4{
	width: 100%;
	height: 0.8rem;
	background: #FFFFFF;
	margin-top: 0.2rem;
	text-align: center;
}
.num4 a{
	float: left;
    padding: 0.15rem;
    height: 0.5rem;
    text-decoration: none;
}
.num4 a span{
	display: block;
	width: 1.43rem;
	height: 0.5rem;
	border: 0.01rem solid black;
	border-radius: 0.25rem;
	font-size: 0.24rem;
	color: black;
	line-height: 0.5rem;
	text-align: center;
}
.num4 a:nth-child(1) img{
	width:0.5rem;
	margin-left: 0.27rem;
} 
.num4 a:nth-child(2) img{
	width:1.50rem;
} 
.num4 a:nth-child(4) img{
	width:1.5rem;
} 
.num4 a:nth-child(5) img{
	width:0.5rem;
} 


footer{
	width: 100%;
	height: 0.99rem;
	text-align: center;
}
footer span{
	font-size: 0.2rem;
	color: #666666;
	display: inline-block;
	height: 0.35rem;
}
footer span:first-child{
	margin-top: 0.2rem;
}

